<head>
    <title>{{ .Site.Title }}</title>

    <meta charset="UTF-8">

    <meta name="description" content="EasyTravelApi is a REST web services specification for travel agencies to interoperate.">
      <meta name="keywords" content="easy travel api,API,REST,Travel,Hotel,Transfer,Excursion,Channel manager">
      <meta name="author" content="Miguel Pérez Colom">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">

<script src="/node_modules/tether/dist/js/tether.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>

<!-- Custom styles for this template -->
<link href="/narrow-jumbotron.css" rel="stylesheet">
</head>
