<head>
    <title>{{ .Site.Title }}</title>

    <meta charset="UTF-8">

    <link rel="icon" href="/favicon.ico">

    <meta name="description" content="{{ .Param "description" }}">
      <meta name="keywords" content="{{ .Param "keywords" }}">
      <meta name="author" content="{{ .Param "author" }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">

<script src="/node_modules/tether/dist/js/tether.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>

<!-- Custom styles for this template -->
<link href="/narrow-jumbotron.css" rel="stylesheet">
</head>
